page-area {
    img {
        height: 75.5em;
    }

    .card-background-page {

        ion-card {
          width: 96.5%;  
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 87%;
          left: 45%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .btn-next {
            width: 6em;
            height:6em;
            border-radius:3em;
        }
      
    }
}
