page-area {
    img {
        height: 68.5em;
    }

    .div-next {
        position: absolute;
        top: 45%;
        left: 92%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .div-previous {
        position: absolute;
        top: 42%;
        left: 2%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .btn {
        width: 6em;
        height:6em;
        border-radius:3em;
    }

    ion-card {
        width: 96.5%;  
        position: relative;
    }
}
