page-home {    

    .btn {
        margin-top:18em;
        width: 16em;
        height:16em;
        border-radius:8em;
        background-color:#f03d2c; opacity:none;
        font-size: 18px;
    }
   
}

ion-content {
    background: url(../../assets/imgs/background.jpg) no-repeat center;
    background-size: cover;
}